body{
  /* margin: 0; */
  margin: 2%;
}
nav{
  float: right;
}
nav a{
  margin-left: 1em;
  /* margin-top: 2em; */
}
#ribbon{
  width: 15%;
  margin-right: 15%;
  /* float: right; */
  position: absolute;
  top: 0;
  right: 0;
  background-color: grey;
  /* border: 1px solid green; */
  border-top: 0;
  height: 100%;
  padding: 1em;
  margin-top: 0;
}
#appDownload{
  margin-right: 35%;
  float: right;
  /* margin-bottom: 0; */
}
#aboutUs{
  margin-bottom: 30%;
}
#games{
  clear: both;
  margin-left: 10%;
  /* margin-top: 2%; */
}
#games section{
  display: inline-block;
  margin: 5%;
  margin-bottom: 3%;
}
#engagement{
  width: 12%;
  /* float: right; */
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2%;
}
#gameSite{
  width: 70%;
  margin: 0;
}
#gameSite div{
  /* display: inline-block; */
  float: left;
  width: 23%;
  margin-left: 5%;
}
.smallSegs{
  text-align: center;
  /* background-color: green;
  font-family: verdana,sans-serif;
  color: white; */
  padding: 1%;
  border-radius: 3%;
}
